= javascript_include_tag "codemirror2/lib/codemirror.js"
= javascript_include_tag "codemirror2/mode/javascript/javascript.js"
= javascript_include_tag "editor.js"
= javascript_include_tag "engine.js"
= javascript_include_tag "problem#{@level_id}.js"

%embed{:src => "/coding1.mp3", :loop => "true", :autostart => "true", :hidden => "true"}
#content.game
	#left
		#intro{:style=>"font-weight:bold;font-size:18px"}
		#problem.outline
		#example
			#example_screen
		#console
			#computer_screen
				%textarea#editor
			.clearfix
			%input#compile.btn.primary.right{:type => "button", :value => "提交"}
	#right
		#score
			#blurb{:style=>"padding-left:5px"}="You are a level #{@level_id} #{@blurb}"
			#avatar=image_tag @avatar
		.clearfix	
		#equipments{:style=>"padding-left:10px"}
			Items
			#man_page.tipsy_thing=link_to "Mythril Man Page", "#", :title => "Trusty handbook that sometimes give you hints"
			#keyboard.tipsy_thing=link_to "DvorakonScale Keyboard", "#", :title => "Magical Keyboard that sometimes type out a part of the answer for you"
		.clearfix
		#debug{:style=>"padding-left:10px"}
			Output:
	.clearfix
#level_id{:style=>"display:none", :level_id => @level_id}