= javascript_include_tag "codemirror2/lib/codemirror.js"
= javascript_include_tag "codemirror2/mode/javascript/javascript.js"
= javascript_include_tag "editor.js"
= javascript_include_tag "engine.js"
= javascript_include_tag "problem#{@level_id}.js"

Game Page

#content
	#left
		#intro.outline
		#problem.outline
		#console.outline
			console
			%textarea#editor
			.clearfix
			%input#compile.btn.primary.right{:type => "button", :value => "Compile"}
		#feedback.outline
			feedback
	#right
		#score.outline
			="you are now level #{@level_id} hacker!"
		#debug.outline
			debug

#level_id{:style=>"display:none", :level_id => @level_id}
