= javascript_include_tag "engine.js"
= javascript_include_tag "problem#{@level_id}.js"

#content.game
	#left
		#intro.outline
		#problem.outline
		#console.outline
			console
			%textarea
			.clearfix
			%input#compile.btn.primary.right{:type => "button", :value => "Compile"}
		#feedback.outline
			feedback
	#right
		#score.outline
			=image_tag "hacker.png"
			#blurb="you are now level #{@level_id}, #{@blurb}"
		#debug.outline
			debug
	.clearfix
#level_id{:style=>"display:none", :level_id => @level_id}