= javascript_include_tag "codemirror2/lib/codemirror.js"
= javascript_include_tag "codemirror2/mode/javascript/javascript.js"
= javascript_include_tag "editor.js"
= javascript_include_tag "engine.js"
= javascript_include_tag "problem#{@level_id}.js"

#content.game
	#left
		#intro.outline
		#problem.outline
		#example.outline
			#example_screen
		#console.outline
			#computer_screen
				%textarea#editor
			.clearfix
			%input#compile.btn.primary.right{:type => "button", :value => "提交"}
	#right
		#score.outline
			=image_tag "hacker.png"
			#blurb="you are now level #{@level_id}, #{@blurb}"
		#debug.outline
			debug
	.clearfix
#level_id{:style=>"display:none", :level_id => @level_id}